@model AYLogistics.Models.Party
@{
    ViewBag.Title = "Manage Party";  
}
 @Html.HiddenFor(m => m.AddressId)
 @Html.HiddenFor(m => m.ContactId)

<div class="form_control_line">
    <button type="button" class="bg-blue-600 text-white px-4 py-2 rounded-lg flex items-center space-x-2 text-sm hover:bg-blue-700" id="btnAddParty">
        <i class="fas fa-plus"></i>
        <span>Legal Body / Individual</span>
    </button>
</div>

<div class="dialogParty" id="dialogParty">
    <div class="px-6 pt-6 pb-10 space-y-4 bg-white">
         <h2 class="text-xl font-semibold text-gray-800 mb-4">Add Party</h2>
        <!-- Type Field -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Type *</label>
            @Html.DropDownListFor(
                m => m.PartyTypeId,
                new SelectList(AYLogistics.Models.Party.GetPartyType(), "PartyTypeId", "PartyTypeName"),
                "-select-",
                new { @class = "p-2 block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }
            )
            @Html.ValidationMessageFor(model => model.PartyTypeId)
        </div>

        <!-- Name Field -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Name *</label>
            <input type="text" id="PartyName" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Registration Number -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">RegNo/NIC</label>
            <input type="text" id="RegNo" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Tin Number -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Tin No.</label>
            <input type="text" id="TinNo" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- CNumber -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">CNumber (Import/Export)</label>
            <input type="text" id="CNumber" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Country -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Country *</label>
            @Html.DropDownListFor(
                m => m.NationalityId,
                new SelectList(AYLogistics.Models.Nationality.GetCountries(), "Id", "Name"),
                "-Select-",
                new { @class = "p-2 block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" }
            )
            @Html.ValidationMessageFor(model => model.NationalityId)
        </div>

        <!-- Address -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Address 1 *</label>
            <input type="text" id="Address1" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Telephone -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">TEL No.</label>
            <input type="text" id="TelNo" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Email -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="Email" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Contact Name -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Contact Name</label>
            <input type="text" id="ContactName" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

        <!-- Mobile Number -->
        <div class="mb-4">
            <label class="block text-sm font-medium text-gray-700">Mobile No</label>
            <input type="text" id="MobileNo" class="block w-full mt-1 border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" />
        </div>

         <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block text-sm font-medium text-blue-700 mb-2">MYBANDHARU user</label>
                <input type="text" id="MBuser" class="block w-full px-3 py-2 border rounded-md text-sm shadow-sm focus:ring focus:ring-blue-500" />
            </div>
            <div>
                <label class="block text-sm font-medium text-green-700 mb-2">CUSTOMS user</label>
                <input type="text" id="CustomUser" class="block w-full px-3 py-2 border rounded-md text-sm shadow-sm focus:ring focus:ring-green-500" />
            </div>
            <div>
                <label class="block text-sm font-medium text-orange-700 mb-2">ASYCUDA user</label>
                <input type="text" id="ACuser" class="block w-full px-3 py-2 border rounded-md text-sm shadow-sm focus:ring focus:ring-orange-500" />
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
                <label class="block text-sm font-medium text-blue-700 mb-2">Password</label>
                <input type="password" id="MBpassword" class="block w-full px-3 py-2 border rounded-md text-sm shadow-sm focus:ring focus:ring-blue-500" />
            </div>
            <div>
                <label class="block text-sm font-medium text-green-700 mb-2">Password</label>
                <input type="password" id="CustomPwd" class="block w-full px-3 py-2 border rounded-md text-sm shadow-sm focus:ring focus:ring-green-500" />
            </div>
            <div>
                <label class="block text-sm font-medium text-orange-700 mb-2">Password</label>
                <input type="password" id="ACpassword" class="block w-full px-3 py-2 border rounded-md text-sm shadow-sm focus:ring focus:ring-orange-500" />
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">

    var $dialige = $(".dialogParty");

    $(document).ready(function () {
        $(".dialogParty").hide();
    });

    function ClearDialog() {
        $('#PartyName').val("");
        $('#RegNo').val("");
        $('#TinNo').val("");
        $('#CNumber').val("");
        $('#Atoll').val("");
        $('#Island').val("");
        $('#Address1').val("");
       // $('#Address2').val("");
        $('#TelNo').val("");
        $('#FaxNo').val("");
        $('#Email').val("");
        $('#ContactName').val("");
        $('#MobileNo').val("");
        $('#MBuser').val("");
        $('#ACuser').val("");
        $('#MBpassword').val("");
        $('#ACpassword').val("");
        $('#CustomUser').val("");
        $('#CustomPwd').val("");
        $(".chosen_select_L").chosen('destroy'); // reset chosen
        $('#PartyTypeId').val(0);
        $('#NationalityId').val(0);
        $(".chosen_select_L").chosen(); //~
    }

    $("#btnAddParty").click(function (e) {
        ClearDialog();
        $dialige.dialog({
            width: 760,
            modal: true,
            height: 1160,
            classes: {
                "ui-dialog": "bg-white shadow-lg rounded-lg border border-gray-300",
                "ui-dialog-titlebar": "bg-blue-500 text-white font-bold rounded-t-lg",
                "ui-dialog-content": "p-6",
            },
            buttons: [{
                text: "Save",
                'class': 'bg-green-500 hover:bg-green-600 text-white font-semibold text-sm py-1.5 px-4 rounded mr-2 mt-4',
                click: function () {
                    if ($('#PartyName').val() == null || $('#NationalityId').val() == 0) {
                        $.pnotify({
                            title: 'Add Party',
                            text: ' Please fill the required information!',
                            type: 'warning'
                        });
                    } else {
                        //  e.preventDefault();
                        SaveParty();
                        //$dialige.dialog('close');
                        $(this).dialog("destroy");
                        // window.location.href = "/Manifest/Create";
                    }
                }},
                        {
                            text: "Close",
                            'class': 'bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-1.5 text-sm px-4 rounded mt-4',
                            click: function () {
                                //$(this).dialog("close");
                                $(this).dialog("destroy");
                        }
                        }],

            create: function () {
                // Target and style the button pane
                var buttonPane = $(this).parent().find(".ui-dialog-buttonpane");
                buttonPane.addClass("bg-white flex justify-end pb-6 pt-10 px-6 border-t");
            }

        });

       
        $(".chosen_select_L").chosen('destroy'); // reset chosen
        $(".chosen_select_L").chosen(); //~
    });

    function EditParty(Id) {
        $dialige.dialog({
            width: 760,
            modal: true,
            height: 1160,
            title: "Edit Party",
            buttons: [{
                text: "Update",
                'class': 'bg-blue-500 hover:bg-blue-600 text-white font-semibold text-sm py-1.5 px-4 rounded mr-2',
                click: function () {
                    /*TO DO: give a condition with Role to disable update button*/
                    UpdateParty(Id);
                    $dialige.dialog('close');

                }},
                    {
                        text: "Close",
                        'class': 'bg-gray-500 hover:bg-gray-600 text-white font-semibold text-sm py-1.5 px-4 rounded',
                        click: function () {
                            $(this).dialog("close");
                   }
                    }],

            create: function () {
                // Target and style the button pane
                var buttonPane = $(this).parent().find(".ui-dialog-buttonpane");
                buttonPane.addClass("bg-white flex justify-end pb-6 pt-10 px-6 border-t");
            }

        });
        GetSelectedParty(Id);
    }

    function SaveParty(e) {
        var PartyTypeId = $('#PartyTypeId').val();
        var PartyName = $('#PartyName').val();
        var RegNo = $('#RegNo').val();
        var TinNo = $('#TinNo').val();
        var CNumber = $('#CNumber').val();
        var NationalityId = $('#NationalityId').val();
        var Atoll = $('#Atoll').val();
        var Island = $('#Island').val();
        var Address1 = $('#Address1').val();
       // var Address2 = $('#Address2').val();
        var TelNo = $('#TelNo').val();
        var FaxNo = $('#FaxNo').val();
        var Email = $('#Email').val();
        var ContactName = $('#ContactName').val();
        var MobileNo = $('#MobileNo').val();
        var MBuser = $('#MBuser').val();
        var ACuser = $('#ACuser').val();
        var MBpassword = $('#MBpassword').val();
        var ACpassword = $('#ACpassword').val();
        var CustomUser = $('#CustomUser').val();
        var CustomPwd = $('#CustomPwd').val();


        var PartyInfo = { PartyTypeId: PartyTypeId, PartyName: PartyName, RegNo: RegNo, TinNo: TinNo, CNumber: CNumber, NationalityId: NationalityId,
            Atoll: Atoll, Island: Island, Address1: Address1, TelNo: TelNo, FaxNo: FaxNo, Email: Email, ContactName: ContactName, MobileNo: MobileNo,
            MBuser: MBuser, MBpassword: MBpassword, CustomUser: CustomUser, CustomPwd: CustomPwd,ACuser: ACuser, ACpassword: ACpassword,
        };

        var json = JSON.stringify(PartyInfo);

        $.ajax({
            url: '/Party/SaveParty',
            type: 'POST',
            dataType: 'json',
            data: json,
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $.pnotify({
                    title: 'Add Party',
                    text: ' New Party has been Saved!',
                    type: 'success'
                });
                ClearDialog();
            },
            error: function () {
                $.pnotify({
                    title: 'Add Party',
                    text: 'Party has not been save, please try again!',
                    type: 'error'
                });
            }
        });
    }

    function GetSelectedParty(Id) {
         ClearDialog();
        var URL = '/Party/GetSelectedParty';

        $.getJSON(URL + '/?PartyId=' + Id, function (data) {
            try {
                $('#PartyName').val(data.PartyName);
                $('#RegNo').val(data.RegNo);
                $('#TinNo').val(data.TinNo);
                $('#CNumber').val(data.CNumber);
                $('#Atoll').val(data.Atoll);
                $('#Island').val(data.Island);
                $('#Address1').val(data.Address1);
              //  $('#Address2').val(data.Address2);
                $('#TelNo').val(data.TelNo);
                $('#FaxNo').val(data.FaxNo);
                $('#Email').val(data.Email);
                $('#ContactName').val(data.ContactName);
                $('#MobileNo').val(data.MobileNo);
                $('#MBuser').val(data.MyBandharuUser);
                $('#MBpassword').val(data.MyBandharuPwd);
                $('#CustomUser').val(data.CustomUser);
                $('#CustomPwd').val(data.CustomPwd);
                $('#ACuser').val(data.AsycudaUser);
                $('#ACpassword').val(data.AsycudaPwd);
                $(".chosen_select_L").chosen('destroy'); // reset chosen
                $('#PartyTypeId').val(data.PartyTypeId);
                $('#AddressId').val(data.AddressId);
                $('#ContactId').val(data.ContactId);
                $('#NationalityId').val(data.NationalityId);
                $(".chosen_select_L").chosen(); //~
            }
            catch (e) {
                ClearDialog();
            }
        });
    }

    function UpdateParty(Id) {
        var PartyId = Id;
        var PartyTypeId = $('#PartyTypeId').val();
        var PartyName = $('#PartyName').val();
        var RegNo = $('#RegNo').val();
        var TinNo = $('#TinNo').val();
        var CNumber = $('#CNumber').val();
        var NationalityId = $('#NationalityId').val();
        var Atoll = $('#Atoll').val();
        var Island = $('#Island').val();
        var Address1 = $('#Address1').val();
       // var Address2 = $('#Address2').val();
        var TelNo = $('#TelNo').val();
        var FaxNo = $('#FaxNo').val();
        var Email = $('#Email').val();
        var ContactName = $('#ContactName').val();
        var MobileNo = $('#MobileNo').val();
        var AddressId = $('#AddressId').val();
        var ContactId = $('#ContactId').val();
        var MBuser = $('#MBuser').val();
        var ACuser = $('#ACuser').val();
        var MBpassword = $('#MBpassword').val();
        var ACpassword = $('#ACpassword').val();
        var CustomUser = $('#CustomUser').val();
        var CustomPwd = $('#CustomPwd').val();

        var PartyInfo = { AddressId: AddressId, ContactId: ContactId, PartyId: PartyId, PartyTypeId: PartyTypeId, PartyName: PartyName, RegNo: RegNo, TinNo: TinNo, CNumber: CNumber, NationalityId: NationalityId,
            Atoll: Atoll, Island: Island, Address1: Address1, TelNo: TelNo, FaxNo: FaxNo, Email: Email, ContactName: ContactName, MobileNo: MobileNo,
            MBuser: MBuser, MBpassword: MBpassword, CustomUser: CustomUser, CustomPwd: CustomPwd, ACuser: ACuser, ACpassword: ACpassword,
        };

        var json = JSON.stringify(PartyInfo);

        $.ajax({
            url: '/Party/UpdateParty',
            type: 'POST',
            dataType: 'json',
            data: json,
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $.pnotify({
                    title: 'Update Party',
                    text: ' Party has been Updated!',
                    type: 'success'
                });
                ClearDialog();
            },
            error: function () {
                $.pnotify({
                    title: 'Update Party',
                    text: 'Party has not been updated, please try again!',
                    type: 'error'
                });
            }
        });
    }

</script>
