@model AYLogistics.Models.EditUserPasswordVM
@{
    ViewBag.Title = "Change User Password";
}

<div class="topMainHeading">
    <h4>Change Password</h4> 
</div>
 
    <div class="" >
        <div class="">
            <div class="btn-group"> 
              <a href="@Url.Action("ViewUser", "Account")" class="btn btn-primary" >Back<i class="icon-list"></i></a>
            </div>
        </div>

        @using (Ajax.BeginForm("EditUserPassword", "Account", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }))
        {
        <div class="">
              <div class="">
                 <span class="" style="width: 130px;">@Html.LabelFor(m => m.UserName)</span>
                  @Html.TextBoxFor(m => m.UserName, new { @class = "" })
                  @Html.ValidationMessageFor(m => m.UserName)
             </div>
                
             <div class="">
                 <span class="" style="width: 130px;">@Html.LabelFor(m => m.Email)</span>
                  @Html.TextBoxFor(m => m.Email, new { @class = "" })
                  @Html.ValidationMessageFor(m => m.Email)
             </div>
      
             <div class="">
                 <span class="" style="width: 130px;">@Html.LabelFor(m => m.Password)</span>
                  @Html.TextBoxFor(m => m.Password, new { @class = "" })
                  @Html.ValidationMessageFor(m => m.Password)
            </div>

             <div class="">
             <span class="" style="width: 130px;">@Html.LabelFor(m => m.ConfirmPassword)</span>
              @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "" })
              @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        
        <div class="">
            <input type="submit" class="btn btn-info" value="Update" />
        </div>
        }
    </div>
 

<script type="text/javascript">

    $(function () {
        $('#subUser').show(); // expand the sub menu
    });

</script>